/* Omega Subtheme Customized Template File */

/* todo: Document these overrides */


/* The page Background color If the footer, branding, and content wrappers are colored this isn't needed*/

#page {
background-color: yellow;

}


/* The middle content section */ 

#content-outer-wrapper {
background-color: green;
}

#footer-outer-wrapper {
background-color: purple;
}

/* Color each region */

#region-header_first, #region-header_second, #region-preface_first, #region-preface_second, #region-preface_third,
#region-content, #region-sidebar_first, #region-sidebar_second, #region-postscript_first, #region-postscript_second, #region-postscript_third,
#region-postscript_fourth, #region-footer_first, #region-footer_second

{

background-color: #ffffff;

}

/* This section changes the branding region, ie. site-title and site-name */
#branding-outer-wrapper {
background-color: blue;
}

/* The color of the site title (It is a link) */

h1.site-title a, h2.site-title a {
text-decoration: none;
color: #000;

}


/* The color of the site title when the user hovers over it */

h1.site-title a:hover, h2.site-title a:hover {
text-decoration: none;
color: gray;

}



#region-menu ul.main-menu li a:hover, #region-menu ul.main-menu li:hover > a, #region-menu div.main-menu > ul.main-menu > li.active-trail > a {
color: orange;
background-color: black;
}
