div.links,
nav.links {
  margin-bottom: 10px;
}
ul.links {
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-transform: lowercase;
}
.primary-navigation ul.links {
  font-size: 12px;
  text-transform: none;
}
ul.links li a {
  padding: 5px 10px;
  display: inline-block;
  border: 1px solid #CCC;
  text-decoration: none;
  background: #EEE;
}
ul.links li a:hover {
  background: #FFF;
}

.node .content ul li {
  list-style-type: none;
  line-height: 24px;
  padding-left: 1.5em;
}

.node .content ol,
.node .content ul {
  padding-left: 0;
}

.node .content ul li {
  background: url('../i/bullet.png') no-repeat left 4px;
}

.node .links li.first {
  padding-left: 0;
}
.node .links li.last {
  padding-right: 0;
}