/* Pagers Positioning #################################################### */
.item-list .pager {
  padding:0;
  margin: 0;
}
.item-list .pager li,
.item-list .pager ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.item-list .pager {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-align: left;
}

.pager li a { 
  display: inline-block;
}

.pager li.pager-ellipsis,
.pager li.pager-current,
.pager li a {
  padding:4px 8px;
  text-decoration: none;
}

  .pager li.pager-current {
    padding:4px 8px;
    font-weight: bold; 
  }

  .pager li.pager-first a,
  .pager li.pager-previous a,
  .pager li.pager-next a,
  .pager li.pager-last a {
    width: 50px;
    text-align:center;
    padding: 4px 0;
  }

  .pager li.pager-next {
    position: absolute;
    top: 0;
    right: 50px;
  }
  .pager li.pager-last,
  .pager li.pager-next.last {
    position: absolute;
    top: 0;
    right: 0;
    border-right: 0;
  }
/* Pagers Color #################################################### */
.item-list .pager {
  background:#DDD;
  border:1px solid #CCC;
}

.pager li.pager-ellipsis,
.pager li.pager-current,
.pager li a {
  color:#454545;
}

  .pager li { 
    border-right:1px solid #ccc;
  }

  .pager li.pager-current {
    background:#0062A0; 
    color: #EEE;
  }

  .pager li.pager-first a,
  .pager li.pager-previous a,
  .pager li.pager-next a,
  .pager li.pager-last a {
    background:#EEE;
  }

  .pager li.pager-next {
    border-left:1px solid #ccc;
  }
  .pager li a {
    background: #EEE; 
  }
  .pager li a:hover {
    background:#FFF;
    color:#454545;
  }