/* 1.) User Container Styles */
#user-outer-wrapper {
	background: #EEE;
	border-bottom: 1px solid #DDD;
}
#user-container {
	
}
#user-container .contextual-links-wrapper {
	right: -30px;
}
#user-container .block {
	float: right;
}
#user-container .block h2 {
  display: none;
}
#user-container .block ul {
	margin-top: 5px;
  list-style-type: none;
  margin-bottom: 0;
}
#user-container .block ul li {
  display: inline;
}




.block {
	margin-bottom: 1.5em;
}
#user-container .block {
	margin-bottom: 0;
}

