table {
  border: 1px solid #CCC;
  width: 100%;
}
thead th, th {
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
  color: #333;
}
td, th {
  padding: 4px 8px;
}
th a, th a:link, th a:visited {
	text-decoration: none;
}
th a {
	display: block;
}
th a img {
  margin: 0 0 0 5px;
}
th.active {
	background: #DDD;
	border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
/* Odd & Even Styles */
tr.even td {
  background: #F1F5FA;
}
tr.odd td {
  background: #fff;
}
td.active {
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
tr.even td.active {
  background: #e5e9ed;
}
tr.odd td.active {
  background: #f2f2f2;
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
	background: #FFFEEE;
}
